.pageview{
    /*默认不展示*/
    display:none;

    /*绝对定位*/
    position:absolute;

    /*撑满整个父容器*/
    top:0;
    left:0;
    right:0;
    bottom:0;

    /*最低高度，确保即使没内容，loading也可以展示，同时能遮住下方内容*/
    min-height:600px;

    /*阻止文本选中*/
    -webkit-user-select: none;
    -moz-user-select: none;
}